body
 margin: 0px !important
 background-color: #f3f3f3

.app-content
  margin-top: 64px !important
  padding-top: 20px !important

.section
   background-color: white
   padding: 25px 20px
   border-radius: 8px
   margin: 0 auto

.mt-small
  margin-top: 20px !important

.m-auto
  margin: 0 auto !important

.mt-xsmall
  margin-top: 10px !important

.MuiTypography-subtitle1
  color: #848383 !important

.MuiFilledInput-underline:after
  border-bottom:none !important

.MuiFormLabel-root.Mui-focused
    color: #d1131c !important

.MuiFilledInput-root
   background-color: #f3f3f3 !important

.react-datepicker__input-container
  input
    background-color: #f3f3f3 !important
    padding: 27px 12px 10px !important
    border: none
    outline: none
    font-size: 16px

.MuiButton-containedPrimary
  color: #fff !important
  background-color: #d2302c !important

