@import './variable.sass'
@import './utils/mixins.sass'

.header
  background-color: #24292e !important
  color: #f3f3f3 !important

.tool-bar
  display: flex
  padding: 3px
  justify-content: space-between

.title,
.nav
  justify-self: center

a
  color: #f3f3f3
  text-decoration: none !important

  &:hover
    color: #f3f3f3

.MuiButton-label
  font-size: 10px !important
  @include for-tablet-landscape-up
    font-size: 13px !important

.title
  font-size: 12px !important

  @include for-tablet-landscape-up
    font-size: 18px !important
