@import './variable.sass'

.movies-list
  height: 100vh !important
  overflow-y: auto !important

.movie-item
  border-radius: 9px !important
  margin-bottom: 4px !important

.movie-list-wrapper
  padding-left: 7px !important
  padding-right: 7px !important

.item-primary
  background-color: $primaryColor !important
  color: $colorWhite !important

.item-secondary
  background-color: $colorWhite !important

.delete-button
  color: $colorWhite !important

.MuiListItemText-primary
  font-family: 'JennaSue', 'sans-serif' !important
  font-size: 23px !important

.large-title
  .MuiListItemText-primary
    font-size: 33px !important

